<!--Navegação-->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!--Fim navegacao-->

<!--Grades-->

<div class="card text-bg-warning py-5 mb-5">
    <div class="container h100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="card-img" alt="..." >
            </div>
            <div class="col-lg-10">
                <h1 class="display-4 text-white mt-6 mb-2">Desenvolvimento SPA com Angular</h1>
                <p class="lead mb-5 text-white">https://github.com/andrekdev</p>
            </div>
        </div>
    </div>
  </div>
  <div class="text-center main-container">
    <img src="../assets/full_dev.jpg" class="rounded" alt="...">
  </div>

  <footer class="bg-dark text-center text-light footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
 @andrekdev
    </div>
  </footer>
<!--fim grades-->